<%= render "self/selectBar" %>

<div class="main-self-announce">
	<div class="main-announce-left mCustomScrollbar" data-mcs-theme="rounded-dark">
		<div class="announceImg add-announceImg">
			<div class="announceImg-camera">
				<i class="fa fa-camera"></i>
			</div>
		</div>
		<div class="announceImg">
			<img src="/assets/home_img1.jpg" alt="">
		</div>
		<div class="announceImg">
			<img src="/assets/home_img2.jpg" alt="">
		</div>
		<div class="announceImg">
			<img src="/assets/home_img3.jpg" alt="">
		</div>
		<div class="announceImg">
			<img src="/assets/home_img4.jpg" alt="">
		</div>
	</div>
	<div class="main-announce-right mCustomScrollbar" data-mcs-theme="rounded-dark">
		<div class="self-announce-header"><i class="fa fa-thumb-tack self-ability-icn"></i>個人專長欄</div>
		<div class="announce-middle">
			
			<div class="self-announce-event">
				<div class="event-title">
					<i class="fa fa-plus"></i>新增工作類型
				</div>
				<div class="event-content add-event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					<h1 class="add-event-title">職業類型</h1>
					<select>
						<option value="">網頁設計</option>
						<option value="">版面設計</option>
						<option value="">廣告設計</option>
					</select>
					<div class="event-line"></div>
					<h1 class="add-event-title">專長內容</h1>
					<textarea class="form-control"></textarea>
					<div class="event-line"></div>
					<h1 class="add-event-title">備註事項(可以填上個人聯絡資訊,詳細需求等等......)</h1>
					<textarea class="form-control"></textarea>
					<input type="submit" value="新增">
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
				<div class="event-bottom">
					<div class="event-selfImg">
						<%= image_tag(current_user.avatar, :class => "user-avatar") %><span class="user-name"><%= current_user.nickname %></span>
					</div>
					<div class="event-info">
						<span><i class="glyphicon glyphicon-eye-open"></i>5892</span>
						<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
					</div>
				</div>
				<div class="event-bottom-info">
					<h1>備註事項</h1>
					<textarea class="form-control"></textarea>
				</div>
			</div>



			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
				<div class="event-bottom">
					<div class="event-selfImg">
						<%= image_tag(current_user.avatar, :class => "user-avatar") %><span class="user-name"><%= current_user.nickname %></span>
					</div>
					<div class="event-info">
						<span><i class="glyphicon glyphicon-eye-open"></i>5892</span>
						<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
					</div>
				</div>
				<div class="event-bottom-info">
					<h1>備註事項</h1>
					<textarea class="form-control"></textarea>
				</div>
			</div>


			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
				<div class="event-bottom">
					<div class="event-selfImg">
						<%= image_tag(current_user.avatar, :class => "user-avatar") %><span class="user-name"><%= current_user.nickname %></span>
					</div>
					<div class="event-info">
						<span><i class="glyphicon glyphicon-eye-open"></i>5892</span>
						<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
					</div>
				</div>
				<div class="event-bottom-info">
					<h1>備註事項</h1>
					<textarea class="form-control"></textarea>
				</div>
			</div>


			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
				<div class="event-bottom">
					<div class="event-selfImg">
						<%= image_tag(current_user.avatar, :class => "user-avatar") %><span class="user-name"><%= current_user.nickname %></span>
					</div>
					<div class="event-info">
						<span><i class="glyphicon glyphicon-eye-open"></i>5892</span>
						<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
					</div>
				</div>
				<div class="event-bottom-info">
					<h1>備註事項</h1>
					<textarea class="form-control"></textarea>
				</div>
			</div>


		</div>
	</div>
</div>
<script>
$(document).one("page:update", function(){
	self_annocument_resize();
	screen_height_resize();
});
</script>
