<div class="main-announce-left mCustomScrollbar <% if is_controller_job || is_action_work %>float-right<% end %>" data-mcs-theme="rounded-dark">
	<% if is_controller_ability_or_job && params[:action] != "index" %>

		<div class="announceImg add-announceImg">
			<div class="announceImg-camera">
				<i class="fa fa-camera"></i>
			</div>
		</div>

		<div class="drag-drop">
			<% if is_controller_ability %>
				<%= collection.nested_fields_for :ability_imgs do |nested_f| %>
					<%= nested_f.remove_nested_fields_link raw('<i class="fa fa-times"></i>刪除'), class: 'nested-ability-remove' %>
					<%= nested_f.file_field :image, class: 'hidden-fileInput nested-ability-image' %>
					<%= nested_f.hidden_field :order, class: 'nested-ability-order' %>
				<% end %>

				<%= collection.add_nested_fields_link :ability_imgs ,"新增圖片或影片", class: 'hidden-fileInput add-ability-nested' %>

			<% elsif is_controller_job %>
				<%= collection.nested_fields_for :job_imgs do |nested_f| %>
					<%= nested_f.remove_nested_fields_link raw('<i class="fa fa-times"></i>刪除'), class: 'nested-ability-remove' %>
					<%= nested_f.file_field :image, class: 'hidden-fileInput nested-ability-image' %>
					<%= nested_f.hidden_field :order, class: 'nested-ability-order' %>
				<% end %>
				<%= collection.add_nested_fields_link :job_imgs ,"新增圖片或影片", class: 'hidden-fileInput add-ability-nested' %>
			<% end %>
		</div>

	<% end %>


	<% if (is_controller_ability && params[:action] == "index") || is_action_people %>
		<div class=""></div>
		<% @article_all.each do |article| %>
			<% article.ability_imgs.each do |value| %>
				<div class="announceImg-hide announceImg ability-event-<%= value.ability_id %>">
					<img src="<%= value.image %>" class="announceImg-container" alt="">
				</div>
			<% end %>
		<% end %>
	<% elsif (is_controller_job && params[:action] == "index") || is_action_work %>
		<% @article_all.each do |article| %>
			<% article.job_imgs.each do |value| %>
				<div class="announceImg-hide announceImg ability-event-<%= value.job_id %>">
					<img src="<%= value.image %>" class="announceImg-container" alt="">
				</div>
			<% end %>
		<% end %>
	<% else %>
		<script>
		$(document).one("page:update", function(){
			$('.nested_fields').append('<div class="announceImg-hide announceImg 66aa"><img src="" class="announceImg-container" alt=""></div>');
		});
		</script>

		<% @article_all.each do |article| %>
			<% if is_controller_ability %>
				<% article.ability_imgs.each_with_index do |value, index| %>
					<% if value.ability_id == params[:id].to_i %>
						<script>
						$(document).one("page:update", function(){
							$('.nested_fields').eq(<%= index %>).find('.announceImg-container').attr('src','<%= value.image %>');
							$('.nested_fields').eq(<%= index %>).attr('order',<%= value.order %>);
						});
						</script>
					<% end %>
				<% end %>
			<% elsif is_controller_job %>
				<% article.job_imgs.each_with_index do |value, index| %>
					<% if value.job_id == params[:id].to_i %>
						<script>
						$(document).one("page:update", function(){
							$('.nested_fields').eq(<%= index %>).find('.announceImg-container').attr('src','<%= value.image %>');
							$('.nested_fields').eq(<%= index %>).attr('order',<%= value.order %>);

							$('.nested_fields').eq(<%= index %>).find('.announceImg-container').attr('src','<%= value.image %>');
							$('.nested_fields').eq(<%= index %>).attr('order',<%= value.order %>);
						});
						</script>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<script>
			$(document).one("page:update", function(){
				$('.nested_fields').addClass('will-remove');
				nested_lendth = $('.will-remove').length;
				for(i=nested_lendth-1;i>=0;i-- ){
					$('.will-remove').each(function() {
						if( $(this).attr('order')==i ){
							$(this).clone().removeClass('will-remove').prependTo('.drag-drop');
						}
			    	});
				}
				$('.will-remove').remove();
				remove_eventImg_btn();
			});
		</script>
	<% end %>
</div>

<script>
    $(function () {
        $(".drag-drop").sortable({
        	connectWith: "div"
        });
    });
</script>


<div class="main-announce-right mCustomScrollbar <% if is_controller_job || is_action_work %>float-left<% end %>" data-mcs-theme="rounded-dark">
	<% if params[:controller] == "find" && params[:action] == "people" %>
		<div class="self-announce-header"><i class="fa fa-users self-ability-icn"></i>人才專欄</div>
	<% elsif params[:controller] == "find" && params[:action] == "work" %>
		<div class="self-announce-header"><i class="fa fa-thumb-tack self-ability-icn"></i>工作專欄</div>
	<% elsif is_controller_ability %>
		<div class="self-announce-header"><i class="fa fa-thumb-tack self-ability-icn"></i>個人專長欄</div>
	<% elsif is_controller_job%>
		<div class="self-announce-header"><i class="fa fa-thumb-tack self-ability-icn"></i>個人徵才欄</div>
	<% end %>
	<div class="announce-middle">

		<% if is_controller_ability && params[:action] != "index" %>
			<div class="self-announce-event">
				<div class="event-title event-title-edit">
					<% if is_controller_ability && params[:action] == "new" %>
						<i class="fa fa-plus"></i>新增專長
					<% elsif is_controller_ability && params[:action] == "edit" %>
						<i class="fa fa-pencil-square-o"></i>編輯專長
						<a data-confirm="確定刪除？" data-method="delete" href="/self/ability/<%= params[:id] %>" rel="nofollow"><i class="fa fa-trash"></i>刪除</a>
					<% end %>
				</div>
				<div class="event-content add-event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					<h1 class="add-event-title">職業類型</h1>
					<%= collection.select :workCategory, options_for_select([['網頁設計', 'web_design'], ['視覺設計', 'visual_design'], ['廣告設計', 'advertisement_design']], :selected => collection.object.workCategory) %>
					<div class="event-line"></div>
					<h1 class="add-event-title">專長內容</h1>
					<%= collection.text_area :abilityContent, class: 'form-control' %>
					<div class="event-line"></div>
					<h1 class="add-event-title">備註事項(可以填上個人聯絡資訊,詳細需求等等......)</h1>
					<%= collection.text_area :abilityDetail, class: 'form-control' %>
					<%= collection.submit "編輯", class: 'nested_ability_submit' %>
				</div>
			</div>
		<% elsif is_controller_job && params[:action] != "index" %>
			<div class="self-announce-event">
				<div class="event-title event-title-edit">
					<% if is_controller_job && params[:action] == "new" %>
						<i class="fa fa-plus"></i>新增徵才
					<% elsif is_controller_job && params[:action] == "edit" %>
						<i class="fa fa-pencil-square-o"></i>編輯徵才
						<a data-confirm="確定刪除？" data-method="delete" href="/self/ability/<%= params[:id] %>" rel="nofollow"><i class="fa fa-trash"></i>刪除</a>
					<% end %>
				</div>
				<div class="event-content add-event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					<h1 class="add-event-title">職業類型</h1>
					<%= collection.select :workCategory, options_for_select([['網頁設計', 'web_design'], ['視覺設計', 'visual_design'], ['廣告設計', 'advertisement_design']], :selected => collection.object.workCategory) %>
					<div class="event-line"></div>
					<h1 class="add-event-title">徵才內容</h1>
					<%= collection.text_area :jobContent, class: 'form-control' %>
					<div class="event-line"></div>
					<h1 class="add-event-title">備註事項(可以填上個人聯絡資訊,詳細需求等等......)</h1>
					<%= collection.text_area :jobDetail, class: 'form-control' %>
					<%= collection.submit "編輯", class: 'nested_ability_submit' %>
				</div>
			</div>
		<% end %>



		<% @article_all.reverse.each_with_index do |value, index| %>
			<% if is_controller_ability || is_action_people %>
				<% if params[:id].to_i!=value.id %>
					<div class="self-announce-event">
						<input type="hidden" class="ability-event-hidden" value="<%= value.id %>">
						<div class="event-title">
							<%= t("workCategory."+value.workCategory) %>
							<% if value.user_id == current_user.id %>
								<a data-confirm="確定刪除？" data-method="delete" href="/self/ability/<%= value.id %>" rel="nofollow"><i class="fa fa-trash"></i>刪除</a>
								<a href="/self/ability/<%= value.id %>/edit"><i class="fa fa-pencil-square-o"></i>編輯</a>
							<% end %>
						</div>
						<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark" ability-id="<%= value.id %>">
							<%= simple_format(value.abilityContent) %>
						</div>
						<div class="event-bottom">
							<div class="event-selfImg">
								<%= image_tag(value.user.self.avatar, :class => "user-avatar") %><span class="user-name"><%= value.user.nickname %></span>
							</div>
							<div class="event-info">
								<span><i class="glyphicon glyphicon-eye-open"></i><%= value.ability_browses.length %></span>
								<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
							</div>
						</div>
						<div class="event-bottom-info">
							<h1>備註事項</h1>
							<span class="form-control mCustomScrollbar" data-mcs-theme="rounded-dark"><%= simple_format(value.abilityDetail) %></span>
						</div>
					</div>
				<% end %>
			<% elsif is_controller_job || is_action_work %>
				<% if params[:id].to_i!=value.id %>
					<div class="self-announce-event">
						<input type="hidden" class="ability-event-hidden" value="<%= value.id %>">
						<div class="event-title">
							<%= t("workCategory."+value.workCategory) %>
							<% if value.user_id == current_user.id %>
								<a data-confirm="確定刪除？" data-method="delete" href="/self/job/<%= value.id %>" rel="nofollow"><i class="fa fa-trash"></i>刪除</a>
								<a href="/self/job/<%= value.id %>/edit"><i class="fa fa-pencil-square-o"></i>編輯</a>
							<% end %>
						</div>
						<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark" job-id="<%= value.id %>">
							<%= simple_format(value.jobContent) %>
						</div>
						<div class="event-bottom">
							<div class="event-selfImg">
								<%= image_tag(value.user.self.avatar, :class => "user-avatar") %><span class="user-name"><%= value.user.nickname %></span>
							</div>
							<div class="event-info">
								<span><i class="glyphicon glyphicon-eye-open"></i><%= value.job_browses.length %></span>
								<span class="glyphicon glyphicon-arrow-up eventInfo-open"></span>
							</div>
						</div>
						<div class="event-bottom-info">
							<h1>備註事項</h1>
							<span class="form-control mCustomScrollbar" data-mcs-theme="rounded-dark"><%= simple_format(value.jobDetail) %></span>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>

		<% if (is_controller_ability_or_job && params[:action] == "index") || params[:controller] == "find" %>
			<script>
			$(document).one("page:update", function(){
				ability_event_bind();
				$('.self-announce-event').eq(0).find('.event-content').click();
				$('.self-announce-event').find('.event-content').css('cursor','pointer');
			});
			</script>
		<% else %>
			<script>
			$(document).one("page:update", function(){
				$('.self-announce-event').eq(0).css('box-shadow','0px 2px 8px #688184');
				$('.self-announce-event').find('.event-content').css('cursor','auto');
			});
			</script>
		<% end %>

	</div>
</div>