<div class="main-self-info" style="background: url(<%= locals[:user].self.bgimg %>);background-size: cover;-webkit-background-size: cover;-o-background-size: cover;-moz-background-size: cover;">
	<div class="main-info-frame">
		<div class="info-frame-left">
			<div class="info-leftFrame">
				<div class="info-title"><i class="fa fa-user"></i>個人資訊</div>
				<div class="info-selfImg-top"><%= image_tag(locals[:user].self.avatar)%></div>
				<div class="info-selfImg-bottom">
					<h1>信箱:&nbsp;<%= locals[:user].email %></h1>
					<h1>暱稱:&nbsp;<%= locals[:user].nickname %></h1>
					<h1>姓名:&nbsp;<%= locals[:user].self.name %></h1>
					<h1>電話:&nbsp;<%= locals[:user].self.cellphone %></h1>
				</div>
			</div>


			<div class="info-leftFrame">
				<div class="info-title"><i class="fa fa-pencil-square-o"></i>編輯資訊</div>
				<ul class="info-leftContent">
					<% if params[:controller] != "userinfo" %>
						<li><%= link_to "個人資訊", edit_self_path %></li>
						<li><%= link_to "個人經歷", self_experience_index_path %></li>
						<li><%= link_to "新增個人經歷", new_self_experience_path %></li>
						<li>
							<% self_img %>
							<%= form_for @self_bgimg, :url => { :controller => 'selves', :action => "bgimg" }, :html => {:enctype => 'multipart/form-data', :class => 'bgimg-form'} do |f| %>
								<a style="cursor:pointer;" class="bgimg-btn">編輯背景圖片</a>
								<%= f.file_field :bgimg, class: "bgimg-input hidden-fileInput", accept: 'image/*' %>
							<% end %>
						</li>
						<li><%= link_to "設定個人隱私", privicy_self_path %></li>
					<% else %>
						<li><%= link_to "個人資訊", { :controller => "userinfo", :action => "info", :id => params[:id] } %></li>
						<li><%= link_to "個人經歷", { :controller => "userinfo", :action => "experience", :id => params[:id] } %></li>
					<% end %>
				</ul>
			</div>


		</div>
		<div class="info-frame-right">
			<div class="info-rightFrame">
				<div class="info-title"><i class="fa fa-info-circle"></i>內容</div>
				<% if params[:controller] == "selves" && ( params[:action] == "new" || params[:action] == "edit" ) ||  ( params[:controller] == "userinfo" && params[:action] == "info" ) %>
					<div class="info-editAllInfo info-editSelfInfo mCustomScrollbar" data-mcs-theme="rounded-dark">
						<%= form_for locals[:user].self, :url => { :controller => 'selves', :action => "update" }, :html => {:enctype => 'multipart/form-data'} do |f| %>
						<div class="editSelfImg">
							<%= image_tag(locals[:user].self.avatar, class: "edit-avatarImg")%><br>
							<% if params[:controller] != "userinfo" %>
								<div class="addAvatar-btn">編輯大頭貼</div> <!--<button>會有問題！！！！-->
								<%= f.file_field :avatar, class: "edit-avatarInput hidden-fileInput", accept: 'image/*' %>
							<% end %>
						</div>
						<div class="editSelfContent">
							<div class="field">
					          	<i class="fa fa-user"></i><%= f.label :name, "姓名" %><br />
					          	<%= f.text_field :name, class: 'form-control' %>
					        </div>
					        <div class="field">
					          	<i class="fa fa-phone"></i><%= f.label :cellphone, "電話" %><br />
					          	<%= f.text_field :cellphone, class: 'form-control' %>
					        </div>
					        <div class="field">
					        	<i class="fa fa-transgender"></i><%= f.label :sex, "性別" %><br />
					        	<%= f.select :sex, options_for_select([['男', 'male'], ['女', 'female']], :selected => f.object.sex) %>
					        </div>
					        <div class="field">
					          	<i class="fa fa-birthday-cake"></i><%= f.label :birth, "生日" %><br />
					          	<%= f.date_field :birth, class: 'form-control' %>
					        </div>
					        <div class="field">
					        	<i class="fa fa-heart"></i><%= f.label :marriage, "婚姻狀態" %><br />
					        	<%= f.select :marriage, options_for_select([['未婚', 'unmarried'], ['已婚', 'married']], :selected => f.object.marriage) %>
					        </div>
					        <div class="field">
					          	<i class="fa fa-money"></i><%= f.label :workStatus, "工作情況" %><br />
					          	<%= f.select :workStatus, options_for_select([['待業', 'findWork'], ['失業', 'noWork'], ['在職', 'onWork']], :selected => f.object.workStatus) %>
					        </div>
					        <div class="field">
					          	<i class="fa fa-graduation-cap"></i><%= f.label :education, "學歷" %><br />
					          	<%= f.text_field :education, class: 'form-control' %>
					        </div>
							<% if params[:controller] != "userinfo" %>
					        	<%= f.submit "編輯完成" %>
					        <% end %>
						</div>
						<% end %>
					</div>
				<% end %>

				<% if ( params[:controller] == "experience" && params[:action] == "index" ) || ( params[:controller] == "userinfo" && params[:action] == "experience" )%>
					<div class="info-editAllInfo info-editExper mCustomScrollbar" data-mcs-theme="rounded-dark">
						<div class="info-workCategory">
							<label>工作型態</label>
							<select>
								<option value="">全部</option>
								<option value="">兼職</option>
								<option value="">全職</option>
								<option value="">外包</option>
								<option value="">工讀</option>
							</select>
							<label>職業類型</label>
							<select>
								<option value="">全部</option>
								<option value="">網頁設計</option>
								<option value="">版面設計</option>
								<option value="">廣告設計</option>
							</select>
						</div>


						<% locals[:user].experiences.each do |value| %>
						<div class="info-workExper">
							<div class="info-workExperEdit">
								<% if params[:controller] != "userinfo" %>
									<a href="/self/experience/<%= value.id %>/edit"><i class="fa fa-pencil-square-o"></i>編輯</a>
									<a data-confirm="確定刪除？" data-method="delete" href="/self/experience/<%= value.id %>" rel="nofollow"><i class="fa fa-trash"></i>刪除</a>
								<% else %>
									<a href=""><i class="fa fa-briefcase">&nbsp;工作經驗</i></a>
								<% end %>
							</div>
							<div class="workExper-left">
								<title>職業類型:&nbsp;<%= t("workCategory."+value.workCategory) %></title><br>
								<label>公司行號:</label><h1><%= value.workCompany %></h1><br>
								<label>工作起始日:</label><h1><%= value.workStart %></h1><br>
								<label>工作離職日:</label><h1><%= value.workEnd %></h1><br>
								<label>在職時間:</label><h1><%= value.workEnd.day-value.workStart.day %>(日)</h1><br>
								<label>薪水(月薪):</label><h1><%= value.workSalary %></h1><br>
								<label>工作型態:</label><h1><%= t("workStyle."+value.workStyle) %></h1><br>
							</div>
							<div class="workExper-right">
								<label>工作經驗:</label><br>
								<span class="form-control mCustomScrollbar" data-mcs-theme="rounded-dark"><%= simple_format(value.workExperience) %></span>
							</div>
						</div>
						<% end %>
					</div>
				<% end %>

				<% if params[:controller] == "experience" && ( params[:action] == "new" || params[:action] == "edit" ) %>
					<%= form_for @experience, :url => { :controller => 'experience', :action => @experience_action } do |f| %>
					<div class="info-editAllInfo info-newExper mCustomScrollbar " data-mcs-theme="rounded-dark">
						<div class="newExper-frame">
							<br>
							<div class="field">
					          	<%= f.label :workCompany, "公司行號" %><br />
					          	<%= f.text_field :workCompany, class: 'form-control' %>
					        </div>
					        <br>
					        <div class="field">
					          	<%= f.label :workStart, "工作起始日" %><br />
					          	<%= f.date_field :workStart, class: 'form-control' %>
					        </div>
							<br>
							<div class="field">
					          	<%= f.label :workEnd, "工作離職日" %><br />
					          	<%= f.date_field :workEnd, class: 'form-control' %>
					        </div>
							<br>
							<div class="field">
					          	<%= f.label :workSalary, "薪水(月薪)" %><br />
					          	<%= f.number_field :workSalary, class: 'form-control' %>
					        </div>
							<br>
							<div class="field">
					          	<%= f.label :workCategory, "職業類型" %><br />
					          	<%= f.select :workCategory, options_for_select([['網頁設計', 'web_design'], ['視覺設計', 'visual_design'], ['廣告設計', 'advertisement_design']], :selected => f.object.workCategory) %>
					        </div>
							<div class="field">
					          	<%= f.label :workStyle, "工作型態" %><br />
					          	<%= f.select :workStyle, options_for_select([['兼職', 'part-time'], ['全職', 'full-time'], ['外包', 'case'], ['實習', 'intern']], :selected => f.object.workStyle) %>
					        </div>
							<%= f.label :workExperience, "工作經驗" %><br />
							<%= f.text_area :workExperience, class: 'form-control' %>
							<%= f.submit "編輯" %>
						</div>
					</div>
					<% end %>
				<% end %>

				<% if params[:controller] == "selves" && params[:action] == "privicy" %>
				<div class="info-editAllInfo info-privicy mCustomScrollbar" data-mcs-theme="rounded-dark">
					<%= form_for @self_privicy, :url => { :controller => 'selves', :action => "privicy_update" } do |f| %>
						<div class="privicy-frame">
							<h1>個人資訊-</h1><h2>隱私設定</h2>
							<div class="line"></div>

							<%= f.select :name_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.name_privicy) %>
							<label>姓名: 張允</label><br>

							<%= f.select :cellphone_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.cellphone_privicy) %>
							<label>電話: 0917367819</label><br>

							<%= f.select :sex_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.cellphone_privicy) %>
							<label>性別: 男</label><br>

							<%= f.select :birth_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.birth_privicy) %>
							<label>生日: 1993-02-22</label><br>

							<%= f.select :marriage_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.marriage_privicy) %>
							<label>婚姻狀態: 未婚</label><br>

							<%= f.select :workStatus_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.workStatus_privicy) %>
							<label>工作情況: 待業</label><br>

							<%= f.select :education_privicy, options_for_select([['公開', '1'], ['隱私', '0']], :selected => f.object.education_privicy) %>
							<label>學歷: 大學</label><br>
							<%= f.submit "編輯" %>
						</div>
					<% end %>


						<div class="privicy-frame">
							<h1>個人經歷-</h1><h2>隱私設定</h2>
							<div class="line"></div>

							<h3>職業類型&nbsp;&nbsp;</h3><br>

							<select>
								<option value="">公開</option>
								<option value="">隱私</option>
							</select>
							<label>公司行號</label><br>

							<select>
								<option value="">公開</option>
								<option value="">隱私</option>
							</select>
							<label>工作起始日</label>
							<label>工作離職日</label><br>

							<select>
								<option value="">公開</option>
								<option value="">隱私</option>
							</select>
							<label>薪水(月薪)</label><br>

							<select>
								<option value="">公開</option>
								<option value="">隱私</option>
							</select>
							<label>工作型態</label><br>

							<select>
								<option value="">公開</option>
								<option value="">隱私</option>
							</select>
							<label>工作經驗</label><br>
						</div>

				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>