<ul class="self-selectBar">
	<div class="self-selectIcon fa fa-angle-double-right"></div>
	<li class="self-selectBar-li"><%= link_to "個人資料", edit_self_path %></li>
	<li class="self-selectBar-li"><%= link_to "個人專長欄", self_ability_index_path %></li>
	<li class="self-selectBar-li"><%= link_to "編輯個人專長", new_self_ability_path %></li>
	<li class="self-selectBar-li"><%= link_to "個人徵才欄", self_job_index_path %></li>
	<li class="self-selectBar-li"><%= link_to "編輯個人徵才欄", new_self_job_path %></li>
</ul>