<%= render "selves/selectBar" %>

<div class="main-self-info">
	<div class="main-info-frame">
		<div class="info-frame-left">
			<div class="info-leftFrame">
				<div class="info-title"><i class="fa fa-user"></i>個人資訊</div>
				<div class="info-selfImg-top"><%= image_tag(current_user.avatar)%></div>
				<div class="info-selfImg-bottom">
					<h1>信箱:&nbsp;adaviddsc@hotmail.com</h1>
					<h1>暱稱:&nbsp;逆風飛翔</h1>
					<h1>姓名:&nbsp;張允</h1>
					<h1>電話:&nbsp;0917367819</h1>
				</div>
			</div>

			<div class="info-leftFrame">
				<div class="info-title"><i class="fa fa-pencil-square-o"></i>編輯資訊</div>
				<ul class="info-leftContent">
					<li><%= link_to "個人資訊", new_self_path %></li>
					<li><%= link_to "個人經歷", self_experience_index_path %></li>
					<li><%= link_to "新增個人經歷", new_self_experience_path %></li>
					<li><a href="">編輯背景圖片</a></li>
					<li><%= link_to "設定個人隱私", privicy_self_path %></li>
				</ul>
			</div>
		</div>
		<div class="info-frame-right">
			<div class="info-rightFrame">
				<div class="info-title"><i class="fa fa-info-circle"></i>內容</div>
				
				<div class="info-editAllInfo info-editSelfInfo mCustomScrollbar <% if params[:controller] == "selves" && params[:action] == "new" %>show-infoFrame<% end %>" data-mcs-theme="rounded-dark">

					<%= form_for :temp do |f| %>
					<div class="editSelfImg">
						<img src="/assets/home_img1.jpg" alt="">
						<button>編輯大頭貼</button>
					</div>
					<div class="editSelfContent">
						<div class="field">
				          	<i class="fa fa-user"></i><%= f.label :name, "姓名" %><br />
				          	<%= f.text_field :name, class: 'form-control' %>
				        </div>
				        <div class="field">
				          	<i class="fa fa-phone"></i><%= f.label :cellphone, "電話" %><br />
				          	<%= f.text_field :cellphone, class: 'form-control' %>
				        </div>
				        <div class="field">
				        	<i class="fa fa-transgender"></i><%= f.label :sex, "性別" %><br />
				        	<%= select(:sex, :sex, [['男', 1], ['女', 2]]) %>
				        </div>
				        <div class="field">
				          	<i class="fa fa-birthday-cake"></i><%= f.label :birth, "生日" %><br />
				          	<%= f.date_field :birth, class: 'form-control' %>
				        </div>
				        <div class="field">
				        	<i class="fa fa-heart"></i><%= f.label :love, "婚姻狀態" %><br />
				        	<%= select(:love, :love, [['未婚', 1], ['已婚', 2]]) %>
				        </div>
				        <div class="field">
				          	<i class="fa fa-money"></i><%= f.label :workStatus, "工作情況" %><br />
				          	<%= select(:workStatus, :workStatus, [['待業', 1], ['失業', 2], ['在職', 2]]) %>
				        </div>
				        <div class="field">
				          	<i class="fa fa-graduation-cap"></i><%= f.label :education, "學歷" %><br />
				          	<%= f.text_field :education, class: 'form-control' %>
				        </div>

				        <%= f.submit "編輯完成" %>
					</div>
					<% end %>
				</div>

				<div class="info-editAllInfo info-editExper mCustomScrollbar <% if params[:controller] == "experience" && params[:action] == "index" %>show-infoFrame<% end %>" data-mcs-theme="rounded-dark">
					<div class="info-workCategory">
						<label>工作型態</label>
						<select>
							<option value="">兼職</option>
							<option value="">全職</option>
							<option value="">外包</option>
							<option value="">工讀</option>
						</select>
						<label>職業類型</label>
						<select>
							<option value="">網頁設計</option>
							<option value="">版面設計</option>
							<option value="">廣告設計</option>
						</select>
					</div>
					<div class="info-workExper">
						<div class="info-workExperEdit">
							<a href=""><i class="fa fa-pencil-square-o"></i>編輯</a>
							<a href=""><i class="fa fa-trash"></i>刪除</a>
						</div>
						<div class="workExper-left">
							<title>職業類型:&nbsp;網頁設計</title><br>
							<label>公司行號:</label><h1>sokoos</h1><br>
							<label>工作起始日:</label><h1>2013-12-01</h1><br>
							<label>工作離職日:</label><h1>2015-08-15</h1><br>
							<label>在職時間:</label><h1>1年半個月</h1><br>
							<label>薪水(月薪):</label><h1>10000</h1><br>
							<label>工作型態:</label><h1>工讀</h1><br>
						</div>
						<div class="workExper-right">
							<label>工作經驗:</label><br>
							<textarea class="form-control">朋友的家人發生不幸
							如果2/3早上六點左右經過中壢到新竹路段的朋友有拍到事發過程
							或是在事發前有經過該現場的朋友
							有拍到該工程車是否有擺放交通錐或是交通錐的擺放情形
							希望能夠提供您的行車記錄器幫助釐清真相

							『我哥哥在今天早上變成天使了，哥哥的女朋友現在還在醫院，意識不清……
							這篇新聞內容部分不實
							更扯的是那台工程車疑似根本沒有放交通錐 
							有一個社團有po今天早上有經過事發地點
							很多駕駛都說好像沒有放交通錐
							也有人說交通錐放很近
							拜託大家有沒有早上六點左右經過中壢到新竹路段的有沒有任何行車紀錄器之類的
							拜託大家了』</textarea>
						</div>
					</div>



					<div class="info-workExper">
						<div class="info-workExperEdit">
							<a href=""><i class="fa fa-pencil-square-o"></i>編輯</a>
							<a href=""><i class="fa fa-trash"></i>刪除</a>
						</div>
						<div class="workExper-left">
							<title>職業類型:&nbsp;網頁設計</title><br>
							<label>公司行號:</label><h1>sokoos</h1><br>
							<label>工作起始日:</label><h1>2013-12-01</h1><br>
							<label>工作離職日:</label><h1>2015-08-15</h1><br>
							<label>在職時間:</label><h1>1年半個月</h1><br>
							<label>薪水(月薪):</label><h1>10000</h1><br>
							<label>工作型態:</label><h1>工讀</h1><br>
						</div>
						<div class="workExper-right">
							<label>工作經驗:</label><br>
							<textarea class="form-control">朋友的家人發生不幸
							如果2/3早上六點左右經過中壢到新竹路段的朋友有拍到事發過程
							或是在事發前有經過該現場的朋友
							有拍到該工程車是否有擺放交通錐或是交通錐的擺放情形
							希望能夠提供您的行車記錄器幫助釐清真相

							『我哥哥在今天早上變成天使了，哥哥的女朋友現在還在醫院，意識不清……
							這篇新聞內容部分不實
							更扯的是那台工程車疑似根本沒有放交通錐 
							有一個社團有po今天早上有經過事發地點
							很多駕駛都說好像沒有放交通錐
							也有人說交通錐放很近
							拜託大家有沒有早上六點左右經過中壢到新竹路段的有沒有任何行車紀錄器之類的
							拜託大家了』</textarea>
						</div>
					</div>
					<div class="info-workExper">
						<div class="info-workExperEdit">
							<a href=""><i class="fa fa-pencil-square-o"></i>編輯</a>
							<a href=""><i class="fa fa-trash"></i>刪除</a>
						</div>
						<div class="workExper-left">
							<title>職業類型:&nbsp;網頁設計</title><br>
							<label>公司行號:</label><h1>sokoos</h1><br>
							<label>工作起始日:</label><h1>2013-12-01</h1><br>
							<label>工作離職日:</label><h1>2015-08-15</h1><br>
							<label>在職時間:</label><h1>1年半個月</h1><br>
							<label>薪水(月薪):</label><h1>10000</h1><br>
							<label>工作型態:</label><h1>工讀</h1><br>
						</div>
						<div class="workExper-right">
							<label>工作經驗:</label><br>
							<textarea class="form-control">朋友的家人發生不幸
							如果2/3早上六點左右經過中壢到新竹路段的朋友有拍到事發過程
							或是在事發前有經過該現場的朋友
							有拍到該工程車是否有擺放交通錐或是交通錐的擺放情形
							希望能夠提供您的行車記錄器幫助釐清真相

							『我哥哥在今天早上變成天使了，哥哥的女朋友現在還在醫院，意識不清……
							這篇新聞內容部分不實
							更扯的是那台工程車疑似根本沒有放交通錐 
							有一個社團有po今天早上有經過事發地點
							很多駕駛都說好像沒有放交通錐
							也有人說交通錐放很近
							拜託大家有沒有早上六點左右經過中壢到新竹路段的有沒有任何行車紀錄器之類的
							拜託大家了』</textarea>
						</div>
					</div>
					<div class="info-workExper">
						<div class="info-workExperEdit">
							<a href=""><i class="fa fa-pencil-square-o"></i>編輯</a>
							<a href=""><i class="fa fa-trash"></i>刪除</a>
						</div>
						<div class="workExper-left">
							<title>職業類型:&nbsp;網頁設計</title><br>
							<label>公司行號:</label><h1>sokoos</h1><br>
							<label>工作起始日:</label><h1>2013-12-01</h1><br>
							<label>工作離職日:</label><h1>2015-08-15</h1><br>
							<label>在職時間:</label><h1>1年半個月</h1><br>
							<label>薪水(月薪):</label><h1>10000</h1><br>
							<label>工作型態:</label><h1>工讀</h1><br>
						</div>
						<div class="workExper-right">
							<label>工作經驗:</label><br>
							<textarea class="form-control">朋友的家人發生不幸
							如果2/3早上六點左右經過中壢到新竹路段的朋友有拍到事發過程
							或是在事發前有經過該現場的朋友
							有拍到該工程車是否有擺放交通錐或是交通錐的擺放情形
							希望能夠提供您的行車記錄器幫助釐清真相

							『我哥哥在今天早上變成天使了，哥哥的女朋友現在還在醫院，意識不清……
							這篇新聞內容部分不實
							更扯的是那台工程車疑似根本沒有放交通錐 
							有一個社團有po今天早上有經過事發地點
							很多駕駛都說好像沒有放交通錐
							也有人說交通錐放很近
							拜託大家有沒有早上六點左右經過中壢到新竹路段的有沒有任何行車紀錄器之類的
							拜託大家了』</textarea>
						</div>
					</div>
				</div>

				<div class="info-editAllInfo info-newExper mCustomScrollbar <% if params[:controller] == "experience" && params[:action] == "new" %>show-infoFrame<% end %>" data-mcs-theme="rounded-dark">
					<div class="newExper-frame">
						
						<br>
						<label>公司行號</label>
						<input type="text" class="form-control">
						<br>
						<label>工作起始日</label>
						<input type="date" class="form-control">
						<br>
						<label>工作離職日</label>
						<input type="date" class="form-control">
						<br>
						<label>薪水(月薪)</label>
						<input type="number" class="form-control" min="0">
						<br>
						<label>職業類型</label>
						<select>
							<option value="">網頁設計</option>
							<option value="">版面設計</option>
							<option value="">廣告設計</option>
						</select>
						<label>工作型態</label>
						<select>
							<option value="">兼職</option>
							<option value="">全職</option>
							<option value="">外包</option>
							<option value="">工讀</option>
						</select>
						<br>
						<label>工作經驗:</label><br>
						<textarea class="form-control"></textarea>
						<input type="submit" value="新增">
					</div>
				</div>

				<div class="info-editAllInfo info-privicy mCustomScrollbar <% if params[:controller] == "selves" && params[:action] == "privicy" %>show-infoFrame<% end %>" data-mcs-theme="rounded-dark">
					<div class="privicy-frame">
						<h1>個人資訊-</h1><h2>隱私設定</h2>
						<div class="line"></div>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>姓名: 張允</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>電話: 0917367819</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>性別: 男</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>生日: 1993-02-22</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>婚姻狀態: 未婚</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>工作情況: 待業</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>學歷: 大學</label><br>

					</div>

					<div class="privicy-frame">
						<h1>個人經歷-</h1><h2>隱私設定</h2>
						<div class="line"></div>

						<h3>職業類型&nbsp;&nbsp;<h4>*必須公開*</h4></h3><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>公司行號</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>工作起始日</label>
						<label>工作離職日</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>薪水(月薪)</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>工作型態</label><br>

						<select>
							<option value="">公開</option>
							<option value="">隱私</option>
						</select>
						<label>工作經驗</label><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).one("page:update", function(){
	screen_height_resize();
});
</script>