<!DOCTYPE html>
<html>
<head>
  <title>Soho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if alert || notice %>
<div id="alert-notice" >
  <p id="alert-message" style="font-size:20px;"><%= alert %><%= notice %></p>
  <button id="alert-close" style="">確定</button>
</div>
<div id="alert-background"></div>

<% end %>

<% if params[:controller][0..4]=="users" || params[:controller]=="home" %>
<header class="header header-home">
<% else %>
<header class="header header-other">
<% end %>
  <div class="header-left">
    <div class="logo">
      <a href="/"><img src="/assets/logo.png" alt=""></a>
    </div>
  </div>


  <% if user_signed_in? %>
    <div class="header-right">
      <!--<a data-method="delete" href="/users/sign_out" rel="nofollow"><button class="header-btn"><%= t("account.logout") %></button></a>-->
      <div id="dLabel-header" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag(current_user.self.avatar, :class => "user-avatar") %><span class="user-name"><%= current_user.nickname %></span>&nbsp;<i class="fa fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu header-menu" role="menu" aria-labelledby="dLabel-header">
        <li><%= link_to t("account.selfPage"), new_self_path %></li>
        <li><a href="/users/edit"><%= t("account.editAccount") %></a></li>
        <li><a data-method="delete" href="/users/sign_out" rel="nofollow"><%= t("account.logout") %></a></li>
      </ul>
    </div>
  <% else %>
    <div class="header-right">
      <a href="/users/sign_in"><button class="header-btn"><%= t("account.login") %></button></a>
      <a href="/users/sign_up"><button class="header-btn"><%= t("account.regist") %></button></a>
    </div>
  <% end %>
</header>



<!-- 登入頁面 -->
<div class="modal fade users-dialog" id="myModal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.login") %></h4>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, t("account.email") %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, t("account.password") %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, t("account.remember_me") %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit t("account.login") %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- 登入頁面 -->

<!-- 註冊頁面 -->
<div class="modal fade users-dialog" id="myModal-regist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.regist") %></h4>
      </div>
      <div class="modal-body">
  		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  		  <div class="field">
  		    <%= f.label :email, t("account.email") %><br />
  		    <%= f.email_field :email, autofocus: true %>
  		  </div>

  		  <div class="field">
  		    <%= f.label :password, t("account.password") %>
  		    <% if @validatable %>
  		    <em>(<%= t("account.at_least") %> <%= @minimum_password_length %> <%= t("account.char") %>)</em>
  		    <% end %><br />
  		    <%= f.password_field :password, autocomplete: "off" %>
  		  </div>

  		  <div class="field">
  		    <%= f.label :password_confirmation, t("account.password-confirm") %><br />
  		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  		  </div>

        <div class="field">
          <%= f.label :nickname, t("account.nickname") %><br />
          <%= f.text_field :nickname %>
        </div>

  		  <div class="actions">
  		    <%= f.submit t("account.regist") %>
  		  </div>
  		<% end %>
      <%= devise_error_messages! %>
  		<%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- 註冊頁面 -->




<!-- email認證頁面 -->
<div class="modal fade users-dialog" id="myModal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.confirm") %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :email, t("account.email") %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit t("account.resend-confirmMail") %>
        </div>
      <% end %>
      <%= devise_error_messages! %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- email認證頁面 -->


<!-- 忘記密碼 -->
<div class="modal fade users-dialog" id="myModal-forget-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.forget-password") %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :email, t("account.email") %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit t("account.resend-passwordMail") %>
        </div>
      <% end %>
      <%= devise_error_messages! %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- 忘記密碼 -->

<!-- 修改密碼 -->
<div class="modal fade users-dialog" id="myModal-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.change-password") %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, t("account.new-password") %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, t("account.confirm-new-password") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit t("account.change-password-OK") %>
        </div>
      <% end %>
      <%= devise_error_messages! %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- 修改密碼 -->

<!-- 編輯帳號資訊 -->
<div class="modal fade users-dialog" id="myModal-editAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("account.editAccount") %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        

        <div class="field">
          <%= f.label :email, t("account.email") %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, t("account.password") %> <i>(<%= t("account.leave-blank") %>)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, t("account.password-confirm") %> <i>(<%= t("account.leave-blank") %>)</i><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :nickname, t("account.nickname") %><br />
          <%= f.text_field :nickname%>
        </div>

        <div class="field">
          <%= f.label :current_password, t("account.password-current") %> <i>(<%= t("account.current-password") %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit t("account.edit") %>
        </div>
      <% end %>
      <%= devise_error_messages! %>
      <!--
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
      -->
      </div>
    </div>
  </div>
</div>
<!-- 編輯帳號資訊 -->

<%= yield %>

</body>
</html>
